<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="WebDriver.ChromeDriver.win32" version="2.44.0" targetFramework="net461" />
  <package id="WebDriver.GeckoDriver" version="0.20.1" targetFramework="net461" />
  <package id="WebDriver.IEDriverServer.win32" version="3.9.0" targetFramework="net461" />
</packages>